<h1>Product List</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <strong>Title:</strong> 
        <%= link_to product.title, product_path(product) %><br>
        <strong>Price:</strong> $<%= product.price %><br>
        <strong>Stock Quantity:</strong> <%= product.stock_quantity %><br>
        <strong>Description:</strong> <%= product.description %><br>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>No products available.</p>
<% end %>
